<div class="descriptors">
  <%= f.collection_select :descriptor_id , Descriptor.where(active: true) , :id , :name  ,
     :include_blank => "Please select..." %>
  <%= f.text_field :descriptor_value %>
  
  <% if !add_link.nil? %>
    <%= add_link %>
  <% else %>
    <%= link_to_remove_association "remove", f , { wrapper_class: 'descriptors' } %>
  <% end %>

</div>