<div class="row photos">

  <div class="col-lg-8">

    <% if new_photo %>
      <%= f.file_field :photo , class: "filestyle", "data-size" => "sm" %>
    <% else %>
      <%= image_tag f.object.photo.url(:thumb) %>
    <% end %>
    
    <%= link_to_remove_association icon("remove"), f, { wrapper_class: 'photos' } %>
  </div>

</div>