<div class="container">

<table class="table table-striped">
 <thead>
    <tr>
      <th colspan="4" style="text-align:center; vertical-align:middle;">Give</th>
      <th colspan="4" style="text-align:center; vertical-align:middle;">Receive</th>
    </tr>
  </thead>

  <tbody>
    
    <tr>
      <td colspan="4">
        <%= render 'show_offer_row' , :assets => @offer.given_assets %>
      </td>

      <td colspan="4" style="border-left: 1px solid black">
        <%= render 'show_offer_row' , :assets => @offer.received_assets %>
      </td>
    </tr>

  </tbody>
</table>

</div>
<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
